In [1]:
!pip install --quiet arcgis

In [2]:
from arcgis.gis import GIS;
from arcgis.features import FeatureLayer,Table;
import pandas as pd;
import requests;

In [3]:
ag_url    = 'https://inlandwaters.geoplatform.gov/arcgis/rest/services/ATTAINS_Geo/ATTAINS_Assessments/MapServer';
ag_points = FeatureLayer(ag_url + "/0");
ag_lines  = FeatureLayer(ag_url + "/1");
ag_areas  = FeatureLayer(ag_url + "/2");
ag_cats   = FeatureLayer(ag_url + "/3");
ag_attr   = Table(ag_url + "/4");

In [36]:
base_tbl = [
  ['AL'],['AK'],['AS'],['AZ'],['AR'],['CA'],['CO'],['CT'],['DC'],['DE'],['FL'],['GA'],['GU'],['HI'],['ID'],['IL'],
  ['IN'],['IA'],['KS'],['KY'],['LA'],['ME'],['MD'],['MA'],['MI'],['MN'],['MP'],['MS'],['MO'],['MT'],['NE'],['NV'],
  ['NH'],['NJ'],['NM'],['NY'],['NC'],['ND'],['OH'],['OK'],['OR'],['PA'],['PR'],['RI'],['SC'],['SD'],['TN'],['TX'],
  ['UT'],['VI'],['VT'],['VA'],['WA'],['WV'],['WI'],['WY']
] 
  
df = pd.DataFrame(base_tbl,columns = ['state']);
df = df.set_index('state')

In [37]:
cnt_points = ag_points.query(
    return_all_records = False
   ,group_by_fields_for_statistics = 'state,reportingcycle'
   ,out_statistics = [{"statisticType":"count","onStatisticField":"state,reportingcycle","outStatisticFieldName":"count"}]
   ,order_by_fields = 'state,reportingcycle'
);

cnt_lines = ag_lines.query(
    return_all_records = False
   ,group_by_fields_for_statistics = 'state,reportingcycle'
   ,out_statistics = [{"statisticType":"count","onStatisticField":"state,reportingcycle","outStatisticFieldName":"count"}]
   ,order_by_fields = 'state,reportingcycle'
);

cnt_areas = ag_areas.query(
    return_all_records = False
   ,group_by_fields_for_statistics = 'state,reportingcycle'
   ,out_statistics = [{"statisticType":"count","onStatisticField":"state,reportingcycle","outStatisticFieldName":"count"}]
   ,order_by_fields = 'state,reportingcycle'
);

cnt_attr = ag_attr.query(
    return_all_records = False
   ,group_by_fields_for_statistics = 'state,reportingcycle'
   ,out_statistics = [{"statisticType":"count","onStatisticField":"state,reportingcycle","outStatisticFieldName":"count"}]
   ,order_by_fields = 'state,reportingcycle'
);

cnt_cats = ag_cats.query(
    return_all_records = False
   ,group_by_fields_for_statistics = 'state,reportingcycle'
   ,out_statistics = [{"statisticType":"count","onStatisticField":"state,reportingcycle","outStatisticFieldName":"count"}]
   ,order_by_fields = 'state,reportingcycle'
);

In [38]:
df2 = df.join(
    other = cnt_cats.sdf.set_index('state')
   ,how = 'left'
);
df2 = df2.rename(columns={"reportingcycle":"cats_cycle","count":"cats_count"}).drop('OBJECTID',1);

df2 = df2.join(
    other = cnt_attr.sdf.set_index('state')
   ,how = 'left'
);
df2 = df2.rename(columns={"reportingcycle":"attr_cycle","count":"attr_count"}).drop('OBJECTID',1);

df2 = df2.join(
    other = cnt_points.sdf.set_index('state')
   ,how = 'left'
);
df2 = df2.rename(columns={"count":"point_count"}).drop('OBJECTID',1).drop('reportingcycle',1);

df2 = df2.join(
    other = cnt_lines.sdf.set_index('state')
   ,how = 'left'
);
df2 = df2.rename(columns={"count":"line_count"}).drop('OBJECTID',1).drop('reportingcycle',1);

df2 = df2.join(
    other = cnt_areas.sdf.set_index('state')
   ,how = 'left'
);
df2 = df2.rename(columns={"count":"area_count"}).drop('OBJECTID',1).drop('reportingcycle',1);

df2 = df2.where((pd.notnull(df2)), None);

In [39]:
df2

,cats_cycle,cats_count,attr_cycle,attr_count,point_count,line_count,area_count
state,,,,,,,
AL,2018,23005,2018,1810,None,1776,307
AK,None,None,2016,63,None,41,22
AS,None,None,None,None,None,None,None
AZ,2018,3709,2018,70,None,54,16
AR,None,None,None,None,None,None,None
CA,2016,37596,2016,1797,None,1454,343
CO,2018,63848,2018,1482,None,1161,325
CT,2016,4664,2016,1444,None,1051,393
DC,2018,101,2018,36,None,25,11
DE,2018,1642,2018,379,None,324,55
FL,2012,46114,2012,6441,None,None,6441
GA,2018,18534,2018,101,None,5,96
GU,None,None,None,None,None,None,None
HI,2018,6519,2018,376,50,331,None
ID,None,None,2016,5765,None,5511,629
IL,2016,24591,2016,691,None,1,690
IN,None,None,2018,4375,None,3070,1497
IA,2016,7056,2016,928,334,594,None
KS,2016,26764,2016,2256,None,1916,340
KY,2016,12515,2016,2750,29,2593,128
LA,2018,783,2018,7,None,None,7
ME,2014,9996,2014,398,None,369,29
MD,2018,28124,2018,329,None,None,329
MA,2012,6751,2012,2181,None,746,1449
MI,2016,42086,None,None,None,None,None
MN,2016,37020,2016,15939,None,3807,12132
MP,None,None,None,None,None,None,None
MS,2018,4554,2018,17,None,None,17
MO,2018,67370,2018,3575,None,3118,457
MT,None,None,2018,71,None,None,71
NE,None,None,2016,383,209,202,181
NV,2014,7115,2014,660,None,581,79
NH,2012,18540,2012,8814,361,8284,2381
NJ,2014,13764,2014,958,None,None,958
NM,2018,7577,2018,836,None,640,196
NY,2016,53358,2016,4688,None,2371,2320
NC,None,None,2018,3704,None,3704,2264
ND,2018,34352,2018,201,None,None,201
OH,2018,10924,2018,1583,None,38,1545
OK,None,None,2016,2785,None,2785,None
OR,2012,27602,2012,49,None,None,49
PA,None,None,2018,178235,None,178235,None
PR,2018,12193,2018,233,None,None,233
RI,2016,2235,2016,875,None,509,366
SC,2016,1849,2016,1905,1905,None,None
SD,2018,5225,2018,356,None,286,197
TN,2018,3522,2018,19,None,2,17
TX,2016,22297,2016,2589,None,1893,696
UT,2016,40519,2016,830,None,635,830
VI,2018,67,2018,177,None,None,177
VT,None,None,None,None,None,None,None
VA,2016,76882,None,None,None,None,None
WA,2012,931,2012,58,None,None,58
WV,2016,29713,2016,1,None,1,None
WI,None,None,None,None,None,None,None
WY,2018,6633,2018,13,None,None,13